.signup {
        height: auto;
        width: 100%;
        min-height: 60vh;
        padding-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
        .signn{
            height: 100%;
            width: 300px;
            background-color:#20385F;
            margin:5px;
            padding:25px;
            border-radius:15px;
            @include breakpoint(xs) {
              width: 100%;
          }
        }
      .name{
        width:100%;
        background-color: #20385F;
        border:1px solid white;
        color: white;
        border-radius:5px;
        height:30px;
        margin:4px;
        padding:5px;
      }
      .number{
        width:100%;
        background-color: #20385F;
        border:1px solid white;
        color: white;
        border-radius:5px;
        height:30px;
        margin:4px;
        padding:5px;
      }
      .label{
      color:white;
      }
      .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
      }
      .account{
        color:white;
      }
      
