// navbar
.navbar {
    min-height: 20vh;
    width: 100%;
    padding: 2rem 4rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 0;
    z-index: 10;

    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: auto;
    }

    &__logo p {
        cursor: pointer;
        color: var(--text-light);
        font-weight: 600;
        font-size: 2rem;
    }

    &__search {
        min-height: 2rem;
        width: 70%;
        display: flex;
        align-items: center;
    }

    &__select {
        width: 20%;
        border-right: 1px solid var(--primary-color);
    }

    &__select select {
        height: 2rem;
        width: 100%;
        padding-left: .5rem;
        border-radius: .5rem 0 0 .5rem;
        cursor: pointer;
    }


    &__input {
        width: 80%;
        display: flex;
        align-items: center;
    }

    &__input input {
        height: 2rem;
        width: 100%;
        padding-left: 1rem;
    }

    &__input button {
        height: 2rem;
        width: 10%;
        background-color: var(--secondary-color);
        border-radius: 0 .5rem .5rem 0;
    }

    &__authbtns button {
        height: 2rem;
        width: 7rem;
        background-color: var(--bg-light);
        border-radius: .5rem;
    }

    &__roundbtns {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__roundbtns button {
        height: 2rem;
        width: 2rem;
        background-color: var(--bg-light);
        border-radius: 50%;
    }

    &__down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: auto;
        padding-bottom: .4rem;
    }

    &__down .active {
        border-bottom: 1px solid var(--bg-light);
    }

    &__down p {
        font-size: 1.2rem;
        color: var(--secondary-color);
        text-decoration: none;
        position: relative;
    }

    &__down p::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--bg-light);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }

    &__down p:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
        background-color: var(--bg-light);
    }
}