.ornamentsnavbar {
    height: 5vh;
    width: 100%;
    min-height: 50px;
    padding: 0 4rem;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    &__elements{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: auto;

        p {
            color: var(--primary-dark);
        }
    }
}